* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(242, 243, 237);
  font-size: 1rem;
}

h1 {
  color: rgb(22, 16, 16);
  text-align: center;
}

.form {
  position: absolute;
  top: 6rem;
  box-shadow: 0 4px 8px rgba(230, 213, 213, 0.3);
  width: 100%;
  background-color: rgb(237, 238, 232);
  border-radius: 10px;
  overflow: hidden;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  border: none;
  font-size: 1rem;
  font-family: cursive;
}

input::placeholder {
  color: lightgray;
}

.list {
  padding: 0;
  margin: 0;
}

.list li {
  list-style: none;
  padding: 20px;
  font-family: cursive;

  border-top: dotted;
  border-color: rgb(12, 12, 11);
  border-width: 0.5px;
  position: relative;
}

.list li .fa-trash {
  color: rgb(16, 0, 160);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.list li .fa-check-square {
  color: slateblue;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.list li.checked {
  color: steelblue;
  text-decoration: line-through;
}

.list li.checked .fa-check-square {
  color: steelblue;
}
